
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
span.wave{
    background: linear-gradient(15deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn, .butn {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(65deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 1000px;
  cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
}
#s1{
  background-image: url(.//B13-A02-TechWave/assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 774px;
} 
.img{
  background-image: url(.//B13-A02-TechWave/assets/hero-circle.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
.butn:hover{
    transform: scale(1.05);
}
.but:hover{
    transform: scale(1.05);
}
.f{
  background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}