body{
  margin: 0px ;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
span.wave{
    background: linear-gradient(15deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn, .butn {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(65deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 1000px;
  cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
}
#s1{
  background-image: url(.//B13-A02-TechWave/assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 774px;
} 
.img{
  background-image: url(.//B13-A02-TechWave/assets/hero-circle.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
.new{
    position: absolute;
    top: 210px;
    left: 55%;
    transform: translateX(-50%);
    font-size: 18px;
    width: 70px;
    height: 30px;
    text-align: center;
    color: #1A0B2E;
    animation: new 0.6s infinite;
}
.butn:hover{
    transform: scale(1.05);
}
.but:hover{
    transform: scale(1.05);
}
.f{
  background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}

@keyframes new {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(2px, -2px); }
  50%  { transform: translate(2px, 2px); }
  75%  { transform: translate(-2px, -2px); }
  100% { transform: translate(0, 0); }
}
.new:hover{
  animation-play-state: paused;
  cursor: pointer;
}

.menu{
  display: none;
  cursor: pointer;
}

@media (max-width: 576px){ 
  nav {  
    align-items: center;
    gap: 10px;
    padding: 20px;
    height: 60px;
  }
  .menu{
    display: block;
    height: 24px;
    width: 24px;
  }
  .nm{
    display: none;
  }
  nav h1 {
    font-size: 38px;
  }
  #s1 {
   padding: 10px;
   text-align: center;
   height: 466px;
  }
  #s1 .img{
    width: 200px;
    height:200px;
    border-radius: 1000px;
    margin: 50px  150px;
  }
  #s1 .img img{
    width: 90px;
    height: 120px;
  }
  .new{
    top: 130px;
    left: 330px;
  }
  #s1 h1 {
      font-size: 40px;
  }
  #s1 p {
      font-size: 18px;
  }
  #s1 .b img{
    width: 30px;
  }
  #about{
    text-align: center;
  }
  #about h1{
    font-size: 32px;
    padding-bottom: 20px;
  }
  #about .p{
    text-align: center;
    font-size: 16px;
  }
  .rate {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 10px;
  }
  #about .rate h1 {
    font-size: 28px;
    padding-bottom: 0px;
  }
  #about .rate p {
    font-size: 12px;
  }
  #about hr{
    width: 300px;
    align-items: center;
  }
  .why h1{
    font-size: 32px;
    align-items: center;
    padding-left:;
  }
  #techwave .gc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

  }
  #techwave .gcc{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #techwave .gcc .m{
    width: 330px;
    height: 200px;
  }
  #techwave .gcc .n{
    margin-right: 0px;
  }
  #techwave .gccc{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 335px;
  }
  #techwave .gccc .mm {
    margin-left: 0px;
  }
  #techwave .card {
    width: 100%;
    padding: 15px;
  }
  #techwave .card h4 {
    font-size: 16px;
  }
  #techwave .card p {
    font-size: 12px;
  }
  #episodes h2{
    font-size: 32px;
  }
  #episodes .e{
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
  }
  #episodes .d{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  #episodes .flex .w{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
  #episodes iframe {
    width: 100%;
    height: 200px;
  }
  #episodes h4 {
    font-size: 16px;
  }
  #episodes p {
    font-size: 12px;
  }
  #host .h{
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin: 20px;
    height: 450px;
  }
  #host h2{
    font-size: 32px;
  }
  #host .i{
    margin-top: 30px;
    margin-bottom: 0px;
  }
  #host .grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #host h3{
    margin-bottom: 10px;
    font-size: 18px;
  }
  #host .flex {
    flex-direction: column;
    text-align: center;
  }
  #host p{
    font-size: 12px;
    width: 300px;
    margin-left: 190px;
  }
  #host .ll{
    display: flex;
    flex-direction: column;
  }
  #host .logo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    width: 20px;
    margin-left: 290px;
    border-radius: 100%;
  }
  #host .logo a{
    width: 20px;
    height: 20px;
  }
  #footer{
    background-image: url(.//B13-A02-TechWave/assets/footer-bg.png);
    background-position: center;
    background-size: 576px;
    background-repeat: no-repeat;
    width: 500px;
  }
  footer h1 {
    font-size: 36px;
  }
  footer .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    justify-items: center;
    justify-content: space-between;
    width: 576px;
  }
  #host .logo .t{
    padding: 0px;
    width: 100%;
  }
  .f .t{
    padding-right: 70px;
  }
}
